<h3>Rating</h3>
<ag-grid-angular 
    style="width: 100%; height: 250px;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>
<p></p>
<button type="button" class="btn btn-primary">Create New Rating</button>