<div class="row" style="height: 100%;">
	<div class="col-md-9" style="height: 100%;">
				<ag-grid-angular 
			    style="width: 100%; height: 100%;" 
			    class="ag-theme-material"
			    [rowData]="rowData" 
			    [columnDefs]="columnDefs"
			    [rowSelection]="rowSelection"
			    (selectionChanged)="onSelectionChanged()"
			    (gridReady)="onGridReady($event)"
			    >
				</ag-grid-angular>
	</div>
	<div class="col-md-3"> 
		<app-company-detail [customerId]="customerId" [isDetail]="false"></app-company-detail>
	</div>
</div>

