/* You can add global styles to this file, and also import other style files */
html,body,.container-fluid{
	height:100%
}
.ag-header-cell-menu-button{
	opacity: 1 !important;
}
.ag-theme-material{
	.ag-header-cell-label .ag-header-cell-text{
		color: #000;
		font-weight: bold;
	}
	.ag-has-focus{
		.ag-cell-focus{
			border-color: transparent !important;
		}
	}
}