$gray : #cdcbcd;
$teal : #1e5668;
.company-detail-container {
    border: 1px solid $gray;
    padding: 5px;
    height: 100%;
    .header {
        text-align: center;
        .avatar{
        	display : flex;
        	justify-content : center;
        }
    }
    .details {
    		margin: 10px 3px;
    		font-size: 13px;
        border-top: 1px solid $gray;
        td {
            border: 0;
            padding: 5px;
        }
        a{
        	color:$teal;
        }
    }
    .comments {
    	border-top: 1px solid $gray;
    	margin: 10px;
    	font-size: 13px;
    }
}
